.footer-top{
   background-color: #2e2e2e;
}
.footer-center{
    background-color: #232323;
    color: #fff;
}
.footer-bottom {
    background-color: #101010;
    padding: 10px 0px;
    text-align: center;
    color: #acacac;
    font-size: 12px;
}
