@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

body {
  background-image: url("../img/login-register/login-register-bg.jpg");
  background-size: cover;
  background-position: center;
}

textarea:focus, input:focus {
    outline: none;
    border-color: #e1bd85;
    transition: border-color 0.2s ease-in-out;
}

.loginBtn {
    transition: color 0.3s ease;
}